// Fonts
7700	FILE	"fonts/03SmartFont-P.ttf"
7701	FILE	"fonts/Cica-Regular.ttf"
7702	FILE	"fonts/LettersLaughing.ttf"

// images
7801 	FILE	"images/background.png"
7900	FILE	"images/title-logo.png"
7901	FILE	"images/title-button.png"
7902	FILE	"images/title-button-hidden.png"
7910	FILE	"images/license.png"

7950	FILE	"images/controller.png"
7960	FILE	"images/gauge.png"
7970	FILE	"images/github-light.png"
7980	FILE	"images/key-guidance.png"
7990	FILE	"images/l-player.png"
7991	FILE	"images/r-player.png"
7995	FILE	"images/fire.png"

// skills
8000	FILE	"images/skills/main-1.png"
8001	FILE	"images/skills/main0.png"
8002	FILE	"images/skills/main1.png"
8003	FILE	"images/skills/main2.png"
8004	FILE	"images/skills/main3.png"
8005	FILE	"images/skills/main4.png"
8006	FILE	"images/skills/main5.png"
8010	FILE	"images/skills/sub-1.png"
8011	FILE	"images/skills/sub0.png"
8012	FILE	"images/skills/sub1.png"
8013	FILE	"images/skills/sub2.png"
8014	FILE	"images/skills/sub3.png"
8015	FILE	"images/skills/sub4.png"
8016	FILE	"images/skills/sub9.png" // 範囲外
8020	FILE	"images/skills/special-1.png"
8021	FILE	"images/skills/special0.png"
8022	FILE	"images/skills/special1.png"
8023	FILE	"images/skills/special2.png"
8024	FILE	"images/skills/special3.png"
8025	FILE	"images/skills/special4.png"
8026	FILE	"images/skills/special9.png" // 範囲外

8100	FILE	"images/mainSkillTriangle.png"
8101	FILE	"images/subSkillTriangle.png"
8102	FILE	"images/specialSkillTriangle.png"

// controllerButtons
8500	FILE	"images/buttons/A_24.png"
8501	FILE	"images/buttons/B_24.png"
8502	FILE	"images/buttons/X_24.png"
8503	FILE	"images/buttons/Y_24.png"
8510	FILE	"images/buttons/LB_24.png"
8511	FILE	"images/buttons/RB_24.png"
8512	FILE	"images/buttons/LT_24.png"
8513	FILE	"images/buttons/RT_24.png"
8520	FILE	"images/buttons/stick_24.png"
8521	FILE	"images/buttons/cross_24.png"

8600	FILE	"images/buttons/A_64.png"
8601	FILE	"images/buttons/B_64.png"
8602	FILE	"images/buttons/X_64.png"
8603	FILE	"images/buttons/Y_64.png"
8610	FILE	"images/buttons/LB_64.png"
8611	FILE	"images/buttons/RB_64.png"
8612	FILE	"images/buttons/LT_64.png"
8613	FILE	"images/buttons/RT_64.png"
8620	FILE	"images/buttons/stick_64.png"
8621	FILE	"images/buttons/cross_64.png"


// Siv3D Engine Rsource
64000	FILE	"Engine/LogMessages.txt"
64080	FILE	"Engine/Assets/engine_textures.s3a"
64600	FILE	"Engine/Fonts/umeplus-p-gothic.zip"
64604	FILE	"Engine/Fonts/mplus-1p-medium.zip"
64700	FILE	"Engine/Shaders/D3D11/Sprite.vs"
64701	FILE	"Engine/Shaders/D3D11/FullScreenTriangle.vs"
64702	FILE	"Engine/Shaders/D3D11/DeferredMesh.vs"
64703	FILE	"Engine/Shaders/D3D11/DeferredMesh_Shadow.vs"
64704	FILE	"Engine/Shaders/D3D11/LightAccumulation.vs"
64705	FILE	"Engine/Shaders/D3D11/ForwardMesh.vs"
64706	FILE	"Engine/Shaders/D3D11/ForwardParticle.vs"
64707	FILE	"Engine/Shaders/D3D11/ForwardLine3D.vs"
64800	FILE	"Engine/Shaders/D3D11/Shape.ps"
64801	FILE	"Engine/Shaders/D3D11/Shape_Stencil.ps"
64802	FILE	"Engine/Shaders/D3D11/Sprite.ps"
64803	FILE	"Engine/Shaders/D3D11/Sprite_Stencil.ps"
64804	FILE	"Engine/Shaders/D3D11/Sprite_Font.ps"
64805	FILE	"Engine/Shaders/D3D11/FullScreenTriangle1xMSAA.ps"
64806	FILE	"Engine/Shaders/D3D11/FullScreenTriangle2xMSAA.ps"
64807	FILE	"Engine/Shaders/D3D11/FullScreenTriangle4xMSAA.ps"
64808	FILE	"Engine/Shaders/D3D11/FullScreenTriangle1xMSAA_Linear.ps"
64809	FILE	"Engine/Shaders/D3D11/FullScreenTriangle2xMSAA_Linear.ps"
64810	FILE	"Engine/Shaders/D3D11/FullScreenTriangle4xMSAA_Linear.ps"
64811	FILE	"Engine/Shaders/D3D11/DeferredMesh.ps"
64812	FILE	"Engine/Shaders/D3D11/DeferredMesh_Textured.ps"
64813	FILE	"Engine/Shaders/D3D11/DeferredMesh_Shadow.ps"
64814	FILE	"Engine/Shaders/D3D11/LightAccumulation_NoFog.ps"
64815	FILE	"Engine/Shaders/D3D11/LightAccumulation_LinearFog.ps"
64816	FILE	"Engine/Shaders/D3D11/LightAccumulation_ExponentialFog.ps"
64817	FILE	"Engine/Shaders/D3D11/LightAccumulation_SquaredExponentialFog.ps"
64818	FILE	"Engine/Shaders/D3D11/LightAccumulation_HEIGHTFog.ps"
64819	FILE	"Engine/Shaders/D3D11/DeferredFinalize.ps"
64820	FILE	"Engine/Shaders/D3D11/ForwardMesh.ps"
64821	FILE	"Engine/Shaders/D3D11/ForwardMesh_Textured.ps"
64822	FILE	"Engine/Shaders/D3D11/ForwardLine3D.ps"
64823	FILE	"Engine/Shaders/D3D11/FXAA_None.ps"
64824	FILE	"Engine/Shaders/D3D11/FXAA_Q20.ps"
64825	FILE	"Engine/Shaders/D3D11/FXAA_Q25.ps"
64826	FILE	"Engine/Shaders/D3D11/FXAA_Q39.ps"

// App Resource
100		ICON	"Icon.ico"
101		FILE	"Engine/Splash.png"
