// Fonts
6000	FILE	"fonts/03SmartFont-P.ttf"
6010	FILE	"fonts/Cica-Regular.ttf"
6020	FILE	"fonts/LettersLaughing.ttf"

// Images
7000 	FILE	"assets/background.png"

7100	FILE	"assets/title-logo.png"
7110	FILE	"assets/title-button.png"
7111	FILE	"assets/title-button-hidden.png"

7200	FILE	"assets/license.png"

7300	FILE	"assets/keyboard.png"
7310	FILE	"assets/controller.png"
7320	FILE	"assets/gauge.png"

7400	FILE	"assets/ready.png"
7410	FILE	"assets/mainSkillTriangle.png"
7411	FILE	"assets/subSkillTriangle.png"
7412	FILE	"assets/specialSkillTriangle.png"

7500	FILE	"assets/l-player.png"
7501	FILE	"assets/r-player.png"
7510	FILE	"assets/fire.png"

7600	FILE	"assets/github-light.png"

7800	FILE	"assets/buttons/A_24.png"
7801	FILE	"assets/buttons/B_24.png"
//7802	FILE	"assets/buttons/X_24.png"
//7803	FILE	"assets/buttons/Y_24.png"
7810	FILE	"assets/buttons/LB_24.png"
7811	FILE	"assets/buttons/RB_24.png"
7812	FILE	"assets/buttons/LT_24.png"
7813	FILE	"assets/buttons/RT_24.png"
7820	FILE	"assets/buttons/stick_24.png"
7821	FILE	"assets/buttons/cross_24.png"

7900	FILE	"assets/buttons/A_64.png"
7901	FILE	"assets/buttons/B_64.png"
//7902	FILE	"assets/buttons/X_64.png"
//7903	FILE	"assets/buttons/Y_64.png"
7910	FILE	"assets/buttons/LB_64.png"
7911	FILE	"assets/buttons/RB_64.png"
//7912	FILE	"assets/buttons/LT_64.png"
//7913	FILE	"assets/buttons/RT_64.png"
7920	FILE	"assets/buttons/stick_64.png"
//7921	FILE	"assets/buttons/cross_64.png"


// Skills
	// Icons
	8000	FILE	"assets/skills/icons/main-1.png"
	8001	FILE	"assets/skills/icons/main0.png"
	8002	FILE	"assets/skills/icons/main1.png"
	8003	FILE	"assets/skills/icons/main2.png"
	8004	FILE	"assets/skills/icons/main3.png"
	8005	FILE	"assets/skills/icons/main4.png"
	8006	FILE	"assets/skills/icons/main5.png"
	8010	FILE	"assets/skills/icons/sub-1.png"
	8011	FILE	"assets/skills/icons/sub0.png"
	8012	FILE	"assets/skills/icons/sub1.png"
	8013	FILE	"assets/skills/icons/sub2.png"
	8014	FILE	"assets/skills/icons/sub3.png"
	8015	FILE	"assets/skills/icons/sub4.png"
	8016	FILE	"assets/skills/icons/sub9.png"
	8020	FILE	"assets/skills/icons/special-1.png"
	8021	FILE	"assets/skills/icons/special0.png"
	8022	FILE	"assets/skills/icons/special1.png"
	8023	FILE	"assets/skills/icons/special2.png"
	8024	FILE	"assets/skills/icons/special3.png"
	8025	FILE	"assets/skills/icons/special4.png"
	8026	FILE	"assets/skills/icons/special9.png"

	// Textures
	8100	FILE	"assets/skills/textures/nothing.png"
	8101	FILE	"assets/skills/textures/grenade.png"
	8102	FILE	"assets/skills/textures/nothing.png"
	8103	FILE	"assets/skills/textures/nothing.png"
	8104	FILE	"assets/skills/textures/flame.png"
	8110	FILE	"assets/skills/textures/nothing.png"
	8111	FILE	"assets/skills/textures/nothing.png"
	8112	FILE	"assets/skills/textures/missile.png"
	8113	FILE	"assets/skills/textures/bomb.png"
	8120	FILE	"assets/skills/textures/clock.png"
	8121	FILE	"assets/skills/textures/Lockon.png"
	8122	FILE	"assets/skills/textures/l-playerSP.png"
	8123	FILE	"assets/skills/textures/r-playerSP.png"
	8124	FILE	"assets/skills/textures/nothing.png"

	// Sounds
	8200	FILE	"assets/skills/sounds/shot.mp3"
	8201	FILE	"assets/skills/sounds/grenade1.mp3"
	8202	FILE	"assets/skills/sounds/grenade2.mp3"
	8203	FILE	"assets/skills/sounds/laser1.mp3" // in Laser
	8204	FILE	"assets/skills/sounds/laser2.mp3" // in Laser
	8205	FILE	"assets/skills/sounds/reflection.mp3"
	8206	FILE	"assets/skills/sounds/flame.mp3"
	8210	FILE	"assets/skills/sounds/jump.mp3"
	8211	FILE	"assets/skills/sounds/shield.mp3"
	8212	FILE	"assets/skills/sounds/missile.mp3"
	8213	FILE	"assets/skills/sounds/bomb.mp3"
	8220	FILE	"assets/skills/sounds/JT.mp3"
	8221	FILE	"assets/skills/sounds/LO.mp3"
	8222	FILE	"assets/skills/sounds/SP.mp3"
	8223	FILE	"assets/skills/sounds/IR.mp3"

// Sounds
9000	FILE	"assets/sounds/chargeFull.mp3" // in Game
9100	FILE	"assets/sounds/CometHighway.m4a"
9200	FILE	"assets/sounds/click1.mp3"
9201	FILE	"assets/sounds/click2.mp3"
9210	FILE	"assets/sounds/cursor1.mp3"
9220	FILE	"assets/sounds/move1.mp3"


// Siv3D Engine Rsource
64000	FILE	"Engine/LogMessages.txt"
64080	FILE	"Engine/Assets/engine_textures.s3a"
64600	FILE	"Engine/Fonts/umeplus-p-gothic.zip"
64604	FILE	"Engine/Fonts/mplus-1p-medium.zip"
64700	FILE	"Engine/Shaders/D3D11/Sprite.vs"
64701	FILE	"Engine/Shaders/D3D11/FullScreenTriangle.vs"
64702	FILE	"Engine/Shaders/D3D11/DeferredMesh.vs"
64703	FILE	"Engine/Shaders/D3D11/DeferredMesh_Shadow.vs"
64704	FILE	"Engine/Shaders/D3D11/LightAccumulation.vs"
64705	FILE	"Engine/Shaders/D3D11/ForwardMesh.vs"
64706	FILE	"Engine/Shaders/D3D11/ForwardParticle.vs"
64707	FILE	"Engine/Shaders/D3D11/ForwardLine3D.vs"
64800	FILE	"Engine/Shaders/D3D11/Shape.ps"
64801	FILE	"Engine/Shaders/D3D11/Shape_Stencil.ps"
64802	FILE	"Engine/Shaders/D3D11/Sprite.ps"
64803	FILE	"Engine/Shaders/D3D11/Sprite_Stencil.ps"
64804	FILE	"Engine/Shaders/D3D11/Sprite_Font.ps"
64805	FILE	"Engine/Shaders/D3D11/FullScreenTriangle1xMSAA.ps"
64806	FILE	"Engine/Shaders/D3D11/FullScreenTriangle2xMSAA.ps"
64807	FILE	"Engine/Shaders/D3D11/FullScreenTriangle4xMSAA.ps"
64808	FILE	"Engine/Shaders/D3D11/FullScreenTriangle1xMSAA_Linear.ps"
64809	FILE	"Engine/Shaders/D3D11/FullScreenTriangle2xMSAA_Linear.ps"
64810	FILE	"Engine/Shaders/D3D11/FullScreenTriangle4xMSAA_Linear.ps"
64811	FILE	"Engine/Shaders/D3D11/DeferredMesh.ps"
64812	FILE	"Engine/Shaders/D3D11/DeferredMesh_Textured.ps"
64813	FILE	"Engine/Shaders/D3D11/DeferredMesh_Shadow.ps"
64814	FILE	"Engine/Shaders/D3D11/LightAccumulation_NoFog.ps"
64815	FILE	"Engine/Shaders/D3D11/LightAccumulation_LinearFog.ps"
64816	FILE	"Engine/Shaders/D3D11/LightAccumulation_ExponentialFog.ps"
64817	FILE	"Engine/Shaders/D3D11/LightAccumulation_SquaredExponentialFog.ps"
64818	FILE	"Engine/Shaders/D3D11/LightAccumulation_HEIGHTFog.ps"
64819	FILE	"Engine/Shaders/D3D11/DeferredFinalize.ps"
64820	FILE	"Engine/Shaders/D3D11/ForwardMesh.ps"
64821	FILE	"Engine/Shaders/D3D11/ForwardMesh_Textured.ps"
64822	FILE	"Engine/Shaders/D3D11/ForwardLine3D.ps"
64823	FILE	"Engine/Shaders/D3D11/FXAA_None.ps"
64824	FILE	"Engine/Shaders/D3D11/FXAA_Q20.ps"
64825	FILE	"Engine/Shaders/D3D11/FXAA_Q25.ps"
64826	FILE	"Engine/Shaders/D3D11/FXAA_Q39.ps"

// App Resource
100		ICON	"Icon.ico"
101		FILE	"Engine/Splash.png"
