################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/SpaceWars2/Debug
/SpaceWars2/SpaceWars2_log.html
/.vs/SpaceWars2/v15
/Debug
/.vscode
